<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Configurações do sistema -->
  <appSettings>

    <!-- Linguagem da interface -->
    <add key="Language" value="pt-BR" />

    <!-- Nível do diagnóstico da escoliose -->
    <add key="DiagnosisLevel"  value="0" />

    <!-- Coordenadas reais dos pontos de referência (em cm) -->
    
    <add key="6pt_RefPoint1" value="0, 160"/>
    <add key="6pt_RefPoint2" value="107, 160"/>
    <add key="6pt_RefPoint3" value="0,80"/>
    <add key="6pt_RefPoint4" value="107, 80"/>
    <add key="6pt_RefPoint5" value="0, 0"/>
    <add key="6pt_RefPoint6" value="107, 0"/>

    <add key="12pt_RefPoint1" value="0, 190"/>
    <add key="12pt_RefPoint2" value="107, 190"/>
    <add key="12pt_RefPoint3" value="0,160"/>
    <add key="12pt_RefPoint4" value="107, 160"/>
    <add key="12pt_RefPoint5" value="0, 120"/>
    <add key="12pt_RefPoint6" value="107, 120"/>
    <add key="12pt_RefPoint7" value="0, 80"/>
    <add key="12pt_RefPoint8" value="107, 80"/>
    <add key="12pt_RefPoint9" value="0,40"/>
    <add key="12pt_RefPoint10" value="107, 40"/>
    <add key="12pt_RefPoint11" value="0, 0"/>
    <add key="12pt_RefPoint12" value="107, 0"/>

    <!-- Configurações da Porta Serial  -->
    <add key="serialPort_portName" value="COM5" />
    <add key="serialPort_baudRate" value="6" />
    <add key="serialPort_parity" value="2" />
    <add key="serialPort_stopBits" value="0" />
    <add key="serialPort_dataBits" value="3" />
    
  </appSettings>

  <!-- String de conexão -->
  <connectionStrings>
    <add name="connStr" connectionString="server=ACR\SQLEXPRESS;Integrated Security=true;database=Scoliosis"/>
  </connectionStrings>
  
</configuration>